@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  color: black;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ED6454;
  font-size: clamp(30px, 1rem + 2vh, 40px);
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

h2 {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vh, 30px);
  font-weight: 400;
}

p {
  color: black;
  font-size: clamp(12px, 0.8rem + 0.5vh, 14px);
}

html,
body {
  box-sizing: border-box;
}

body {
  width: clamp(400px, 90vw, 1250px);
  margin: auto;
}
@media screen and (max-width: 399px) {
  body {
    width: 95vw;
  }
}

.reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  opacity: 0;
  display: none !important;
  transition: all 0.5s ease-in-out;
}

.blue {
  background: #3282F7 !important;
}

.green {
  background: #68D9A4 !important;
}

.orange {
  background: #ED6454 !important;
}

.grey {
  background: #C7BEBE !important;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4vh;
}
header .site-logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2vh;
}
header .site-logo img {
  margin-bottom: 1vh;
}

.search {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.search_main-bar {
  width: 100%;
  background-color: #E7E7E7;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.search_main-bar input {
  background: none;
  border: none;
  font-size: clamp(13px, 0.8rem + 0.5vh, 22px);
  width: 80%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.search_main-bar input:focus, .search_main-bar input:active {
  border: none;
  outline: none;
}
.search_current-tags {
  min-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
}
.search_tag {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
  background: #3282F7;
  color: white;
  cursor: pointer;
}
.search_tag p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 0.8rem + 0.5vh, 17px);
}
.search_tag p::first-letter {
  text-transform: capitalize;
}
.search_tag .close {
  width: 17px;
  height: 17px;
  border: 2px solid white;
  border-radius: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_tag .close::after, .search_tag .close::before {
  content: "";
  height: 8px;
  width: 2px;
  background: white;
}
.search_tag .close::after {
  transform: rotate(45deg) translateY(1px);
}
.search_tag .close::before {
  transform: rotate(-45deg) translateY(1px);
}

main {
  margin-top: 17vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media screen and (max-width: 1050px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 538px) {
  main {
    margin-top: 22vh;
  }
}

.recipe-card {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
}
.recipe-card_image {
  background: #C7BEBE;
  height: 150px;
  width: 100%;
  content: "";
}
.recipe-card_info {
  background: #E7E7E7;
  padding: 30px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipe-card_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.recipe-card_bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.recipe-card_time-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.recipe-card_time-section img {
  margin-right: clamp(5px, 1vw, 10px);
}
.recipe-card_time-section p {
  font-weight: 700;
  font-family: "Lato";
}
.recipe-card_title {
  max-width: 60%;
}
.recipe-card_ingredients {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: clamp(15px, 2vw, 30px);
  width: 40%;
}
.recipe-card_ingredient {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.recipe-card_ingredient--name {
  margin-right: 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.recipe-card_instructions {
  width: 50%;
}

.dropdowns-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 12vh;
}
.dropdowns-container_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 799px) {
  .dropdowns-container_box {
    flex-flow: row wrap;
  }
}
.dropdowns-container .dropdown {
  padding: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-right: 1vw;
  margin-top: 1vh;
  border-radius: 5px;
}
@media screen and (min-width: 800px) {
  .dropdowns-container .dropdown:hover .hidden {
    display: grid !important;
    opacity: 1;
  }
}
.dropdowns-container .dropdown_input-container {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dropdowns-container .dropdown input {
  background: none;
  color: white;
  border: none;
  font-size: clamp(13px, 0.8rem + 0.5vh, 22px);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  opacity: 0.5;
  width: clamp(100px, 15vw, 120px);
  color: white;
}
.dropdowns-container .dropdown input:focus {
  outline: none;
  border: none;
}
.dropdowns-container .dropdown input::placeholder {
  color: white;
}
.dropdowns-container .dropdown_list {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2vh 1vw;
  max-height: 40vh;
  overflow-y: auto;
  position: relative;
}
.dropdowns-container .dropdown_list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
}
.dropdowns-container .dropdown_list::-webkit-scrollbar {
  display: none;
}
.dropdowns-container .dropdown_list-item {
  margin: 0.5vh 1vw 0.5vh 0;
  font-weight: 400;
  margin-right: 5vh;
  cursor: pointer;
}
.dropdowns-container .dropdown_list-item::first-letter {
  text-transform: capitalize;
}

.blue ul:after {
  background: linear-gradient(180deg, rgba(50, 130, 247, 0) 0%, #3282f7 100%);
}

.orange ul:after {
  background: linear-gradient(180deg, rgba(237, 100, 84, 0) 0%, #ed6454 100%);
}

.dropdown input:focus .hidden  {
  display: grid !important;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
